In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
from matplotlib import style
import pickle

In [2]:
data = pd.read_csv("student-mat.csv", sep=";")

In [3]:
data.head(100)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,GP,F,15,R,GT3,T,1,1,at_home,other,...,3,1,2,1,1,1,2,7,10,10
96,GP,M,16,R,GT3,T,4,3,services,other,...,3,3,3,1,1,4,2,11,15,15
97,GP,F,16,U,GT3,T,2,1,other,other,...,4,3,5,1,1,5,2,8,9,10
98,GP,F,16,U,GT3,T,4,4,other,other,...,5,3,4,1,2,1,6,11,14,14
99,GP,F,16,U,GT3,T,4,3,other,at_home,...,5,3,5,1,1,3,0,7,9,8

In [106]:
print(data.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [107]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences", "freetime"]]

In [108]:
data.head(100)

    G1  G2  G3  studytime  failures  absences  freetime
0    5   6   6          2         0         6         3
1    5   5   6          2         0         4         3
2    7   8  10          2         3        10         3
3   15  14  15          3         0         2         2
4    6  10  10          2         0         4         3
..  ..  ..  ..        ...       ...       ...       ...
95   7  10  10          4         1         2         1
96  11  15  15          1         0         2         3
97   8   9  10          2         0         2         3
98  11  14  14          1         0         6         3
99   7   9   8          3         0         0         3

[100 rows x 7 columns]

In [109]:
predict = "G3"

X = np.array(data.drop([predict], 1)) # Features
y = np.array(data[predict]) # Labels

In [110]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [111]:
linear = linear_model.LinearRegression()

In [112]:
linear.fit(x_train, y_train)
accuracy = linear.score(x_test, y_test)

In [113]:
print(accuracy)

0.8810158807384333

In [114]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [ 0.1558217   0.97431693 -0.2068035  -0.33569944  0.03807456  0.12941552]
Intercept:
 -1.8684545193915572

In [115]:
predictions = linear.predict(x_test) # Gets a list of all predictions

for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

9.604915645797806 [10 10  2  1 14  3] 9
3.370196926668421 [6 5 3 1 0 3] 0
9.79536381761079 [12 10  2  0  2  3] 11
9.313012206556076 [11  9  1  1 19  4] 10
8.117433738666817 [9 9 1 2 8 3] 9
8.43325438048272 [10  9  2  0  0  3] 9
11.897534771298314 [12 12  1  0  4  2] 13
16.262267584881293 [15 16  1  0  4  2] 15
10.690008160928032 [11 11  2  0  4  3] 11
7.703954350041565 [6 9 1 1 4 2] 8
12.300519127514727 [14 12  1  0  3  3] 12
9.377641653172262 [ 8 10  2  0  4  4] 9
16.293242975091133 [18 16  3  0  0  3] 16
14.416643059054474 [14 14  1  0  4  4] 14
14.799433417829468 [15 15  2  0  0  1] 15
9.32789872379996 [ 9 10  2  0  2  3] 10
16.264552189016797 [16 16  2  0  2  3] 17
14.33301405697498 [13 15  4  0  0  3] 15
11.614582161498767 [12 12  2  0  2  2] 11
11.380112509222151 [12 11  1  0 16  2] 11
16.39520657619405 [16 16  1  0  0  3] 15
5.200429873645763 [7 7 2 3 5 3] 7
3.9804289585186456 [ 6  5  1  3 16  5] 5
10.023811151544226 [12 10  2  0  8  3] 11
7.0166396674885405 [8 8 3 0 2 3] 10
9.508887732496593 [11 10  3  0  4  3] 11
12.870398591169167 [14 12  2  0 20  4] 13
12.691908425501062 [11 13  2  0  2  4] 14
9.508887732496593 [11 10  3  0  4  3] 10
9.086254512542489 [10  9  3  1 28  4] 9
18.432249613255074 [18 18  3  0  5  3] 19
11.664916783018144 [14 12  4  0  6  2] 13
9.965996639256499 [ 9 11  3  0  2  2] 11
6.773964232349659 [ 6  8  1  3 16  4] 8
7.938929063923778 [8 9 2 0 2 1] 8
8.0081178551471 [ 7 10  4  1  2  1] 10
7.147294054665794 [8 8 2 0 0 3] 9
7.577782540593827 [ 7  8  2  0 12  4] 8
13.123635782608249 [10 13  1  0 12  4] 12
11.162900608866392 [12 12  4  0  1  2] 12